.list__item {
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 2rem;
  font-weight: 600;
  color: #fff;

  padding: 2.4rem 0;
  border-radius: 11px;
  box-shadow: 2px 2px 5px 4px rgb(0, 0, 0, 0.05);
}

.options__checkbox {
  transform: scale(1.5);
  padding: 0.5rem;
  align-self: center;
}
